* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #f52426;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.optionsContainer {
    width: 100%;
    border-bottom: white;
    position: static;
    margin:0 auto;
}

.column:hover {
    background-color: #161f19;
}

body {
    background-color: black;
}

.artistSelect, .artistOrTrack, .timeRange{
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

button {
    background-color: #f52426; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 26px;
    border-radius: 5px;
    outline: 0;
}

select {
    border-radius: 3px;
}

.track1, .track2, .track3, .track4 {
    padding: 0px 20px;
    float: left;
}

.resultsContainer {
    position:absolute;
    top:35%;
    width: 80%;
    height: 50%;
}

li, ol {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}